<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet"  href="assets/main.css">
</head>
<body>
    <div class="container">
        <div class="box-question">
            <div class="point-group">
                <span>Your point : </span>
                <span class = "point"></span>
            </div>
            <div class="content">
               
                <h2 class="content-question">What your father's name ? </h2>
                <ul class="list-answer">
                    <li class="answer-item">
                        <input type="radio" name="answer" id="ansA">
                        <label for="ansA">Thiên</label>
                    </li>
                    <li class="answer-item">
                        <input type="radio" name="answer" id="ansB">
                        <label for="ansB">Dog</label>
                    </li>
                    <li class="answer-item">
                        <input type="radio" name="answer" id="ansC">
                        <label for="ansC">Cat</label>
                    </li>
                    <li class="answer-item">
                        <input type="radio" name="answer" id="ansD">
                        <label for="ansD">Bird</label>
                    </li>
                </ul>
            </div>
            
            <button class = "btn-next">Next Question</button>
            <button class = "btn-restart">Play Again</button>
        </div>
    </div>
    <script src="assets/script.js"></script>
</body>
</html>